

/* Sementera end*/

/*==================================
      GLOBAL CSS START
  ==================================*/
:root {
  --colorHijau: #06a73b;
  --colorRed: #f44336;
  --colorOrange: #fdc04e;
  --colorStart: #ffc300;
  --colorOren: #fcd980;
  --colorKuning: #fbff00;
  --colorPrimary: #001aff;
  --colorBG: #fbfada;
  --colorBlue: #4582ff;
  --colorGreen: #00d6d3;
  --colorBlack: #0f2239;
  --paraColor: #636363;
  --ratingColor: #f1cc38;
  --colorWhite: #ffffff;
  --colorSidebar: #9197b3;
  --colorUngu: #1e0342;
  --colorBiru: #f4f7fe;
  --colorBlueSide: #1c1e53;
  --colorBgDashboard: #ededed;
  --colorBgSearch: #f0f4ff;
  --colorBgRoom: #f4f6fc;
  --paraFont: 'Rubik', sans-serif;
  --headingFont: 'Montserrat', sans-serif;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.footer{
  margin-bottom: 10px;
}

.container {
  margin-top: 100px;
}


.card {
  padding: 50px;
}
.body {
  padding: 10px;
}